<h1>Solving the Food Wastage Problem in NYC</h1>

{{#bs-alert type="success"}}
  Register as a Donor or a Recipient to view our Listings
{{/bs-alert}}
<div class="row">
  <div class="col-md-6">
    {{#bs-button type="primary"}}
    I Have Food
    {{/bs-button}}
  </div> <br>
  <div class="col-md-6">
    {{#bs-button type="primary"}}
    I Need Food
    {{/bs-button}}
  </div>
</div>
