<!-- Custom styles for this template -->
<link href="cover.css" rel="stylesheet">

<div class="jumbotron">

<h3>Solving the Food Wastage Problem in NYC</h3>

<video autoplay loop muted poster="screenshot.jpg" id="background">
<source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
</video>

{{#bs-alert type="info"}}
  Register as a Donor or a Recipient to view our Listings
{{/bs-alert}}
<div class="row">
  <div class="col-md-6">
    {{#bs-button type="primary" href="#"}}
    I Have Food
    {{/bs-button}}
  </div>
  <div class="col-md-6">
    {{#bs-button type="primary" href="#"}}
    I Need Food
    {{/bs-button}}
  </div>
</div>

</div>

<center><h2>How It Works</h2></center>
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img src="..." alt="Donors">
      <div class="caption">
        <h3>Donors</h3>
        <p>Local Restaurants and Cafes let us know what type of food they have and when someone can come pick them</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img src="..." alt="Recipients">
      <div class="caption">
        <h3>Recipients</h3>
        <p>Local nonprofits and food banks can see the what, where and when of food surplus options, and fix a time to pick up the food</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
      </div>
    </div>
  </div>

</div>



