<div class="abovethefold">

<h3>Solving the Food Wastage Problem in NYC</h3>
{{#bs-alert type="info"}}
  Register as a Donor or a Recipient to view our Listings
{{/bs-alert}}

<video autoplay="" loop="" class="fillWidth fadeIn animated" poster="https://s3-us-west-2.amazonaws.com/coverr/poster/Traffic-blurred2.jpg" id="video-background">
    <source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/Traffic-blurred2.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
</video>

{{#bs-modal open=openModal title="Register"}}
   Please Sign up or Login to View Listings
 {{/bs-modal}}

<div class="row">
  <div class="col-md-6">
    {{#link-to 'signup' (query-params type="Donor") class="btn btn-success"}}
    I Have Food
    {{/link-to}}
  </div>
  <div class="col-md-6">
    {{#link-to 'signup' (query-params type="Recipient") class="btn btn-success"}}
    I Need Food
    {{/link-to}}
  </div>
</div>

</div>

<center><h2>How It Works</h2></center>
<div class="row">
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img src="..." alt="Donors">
      <div class="caption">
        <h3>Donors</h3>
        <p>Local Restaurants and Cafes let us know what type of food they have and when someone can come pick them</p>
        <p><a href="#" class="btn btn-primary" role="button">Donors</a></p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img src="..." alt="Recipients">
      <div class="caption">
        <h3>Recipients</h3>
        <p>Local nonprofits and food banks can see the what, where and when of food surplus options, and fix a time to pick up the food</p>
        <p><a href="#" class="btn btn-primary" role="button">Recipients</a></p>
      </div>
    </div>
  </div>

</div>
