<div class="container">
{{#each model as |listing|}}
    <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>{{listing.donor.name}}</h2>
      <div class="button-panel pull-right">
        {{#pickup-confirm}}
      {{#bs-button type="success" href="#" action="toggleModal"}}
      Confirm Pickup
      {{/bs-button}}
        {{/pickup-confirm}}
      </div>
    </div>
    <div class="panel-body">
    <ul>
  <li>Pickup Time: {{listing.pickupTime}}</li>
  <li>Information: {{listing.description}}</li>
    </ul>
    </div>
    </div>
  {{/each}} 
</div> 

{{!-- Modal Logic --}}
{{#if isShowingModal}}
  {{#modal-dialog close="toggleModal"
                  targetAttachment="center"
                  translucentOverlay=true}}
    Awesome! Your pickup is confirmed. 
    We'll inform the donor.
  {{/modal-dialog}}
{{/if}}

{{outlet}}
